.main{
    background-color: black;
    height: 690px;
}
.main input:hover{
    border-bottom: 2px solid #edf434;
}
.main h1 , h2 ,h4{
    color: white;
}
.main .sub-main input::placeholder{
    color: white;
}
.main .btn-one:hover{
    box-shadow:-1px 0px 3px 4px #edf434;
}
.main .sub-main #res-2 ,#ans ,#res-3 ,#messg ,#res-1{
    color: white;
}
.main .btn-one {
    border-radius: 5px;
    height: 30px;
    width: 80px;
    border: 1px solid white;
    outline: none;
    width: 100px;
    color: white;
    transition: all 0.2s;
    background-color:transparent;
}
.main input{
	background-color:transparent;
	border:none;
    color: white;
    outline: none;
	border-bottom:2px solid white;
}